.curse-bless-field {
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
    width: 90%;
}

.curse-bless-title {
    padding: 20px 0;
    font-family: 'IM Fell English', serif;
}

.link-login {
    text-decoration: none;
    color: var(--color-highlight-text);
    padding: 10px 0;
}

.link-login:hover {
    color: gainsboro;
}

.curse-sent-box {
    border: 2px black solid;
    border-radius: 3px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}