.curse-bless-field {
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 20px;
    align-items: center;
}

.curse-bless-title {
    padding: 20px 0;
}

.link-login {
    text-decoration: none;
    color: black;
    padding: 10px 0;
}

.curse-sent-box {
    border: 2px black solid;
    border-radius: 3px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}