.error-route-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--color-background-neutral);
  animation: dark-pulse 6s infinite ease;
  color: gainsboro;
  margin: 2rem auto;
}

@keyframes dark-pulse {
  25% {
    background-color: var(--color-background-neutral);
  }

  50% {
    background-color: var(--color-background-main);
  }

  75% {
    background-color: var(--color-background-neutral);
  }
}

.errorh2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 0;
  font-family: 'IM Fell English', serif;
}

.errorlink {
  color: var(--color-bless-darken-two);
  font-size: 1rem;
  text-decoration: underline;
}

.ofCourse {
  font-size: 1rem;
  margin: 2rem;
  text-align: center;
  width: 90%;
}


@media screen and (min-width: 1024px) {
  .errorh2 {
    font-size: 2.5rem;
  }

  .errorlink {
    font-size: 2rem;
  }

  .ofCourse {
    font-size: 2rem;
  }
}