button {
    width: 40%;
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 100%;
    padding: 10px 5px;
    margin: 20px auto;
    cursor: pointer;
}

.load-icon {
    animation: spin .75s linear infinite;
}

@keyframes spin {
    0% {
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}