

.sign-up-wrapper {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}

.sign-up-header {
    margin: 20px 0;
    text-align: center;
    font-size: 2.5em;
    font-family: 'IM Fell English', serif;
}

@media screen and (min-width: 768px) {
    .login-header {
        text-align: center;
    }
}


@media screen and (min-width: 768px) {
    .sign-up-header {
        text-align: center;
        margin-left: 0;
    }

 
}