.bless-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
}

.curse-message {
    border-radius: 10px;
    background-color: lightgrey;
    padding: 20px;
}

.bless-form {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px auto;
}

.emoji-dropdown {
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
}

