.alert-box {
    border: 3px solid var(--color-background-neutral);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-highlight-text);
}

.alertMessage {
    display: flex;
    justify-content: center;
    font-family: 'IM Fell English', serif;
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
    color: black;
}

.alertWrapper {
    margin: 2rem;
}

.alertButton {
    min-width: 35vw;
    min-height: 8vh;
    font-size: 1.5rem;
    width: 50vw;
    height: 5vh;
}

.curseAgainButton {
    transition: all .3s ease;
    color: gainsboro;
    background-color: var(--color-background-neutral);
    font-family: 'IM Fell English', serif;
    font-size: 1rem;
    
}

.back-to-dashboard {
    transition: all .3s ease;
    color: var(--color-background-main);
    background-color: var(--color-bless-background-main);
    font-family: 'Antic Didone', serif;
    font-size: 1rem;
    font-weight: 800;
}

.back-to-dashboard:hover {
    transition: all .3s ease;

}

.curseAgainButton:hover {
    background-color: gainsboro;
    color: var(--color-background-main);
}

@media screen and (min-width: 768px) {
    .curseAgainButton, .alertMessage {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .alertButton {
        min-height: 10vh;
    }

    .alertMessage, .curseAgainButton, .back-to-dashboard {
        font-size: 2rem;
    }
}