
.main-form {
    width: 90%;
    margin: 0 auto;
    background: var(--color-background-neutral);
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10px;
}

.DemoCreds {
    text-align: center;
    font-family: 'IM Fell English', serif;   
}

.alert p {
    border-radius: 10px;
    background-color: #f5c1bc;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.Label {
    margin: 10px;
    margin-bottom: 5px;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.Input {
    margin: 0 0 10px 0;
    line-height: 1.4em;
    font-size: 16px;
    width: 90%;
    padding: 5px 0 5px 5px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.Input:focus {
    transition: .1s ease-in;
    background-color: #e8e8e8;
}

.Button {
    width: 70%;
    font-size: 1.2em;
    padding: 10px 5px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: #d9f2c7;
    cursor: pointer;
}

.Button:hover, .Button:active {
    transition: .2s ease-in;
    background-color: #9cc493;
}

@media screen and (min-width: 768px) {
    .Label {
        width: 90%;
    }
}


@media screen and (min-width: 1024px) {
    .main-form {
        max-width: 50%;
    }
}