.dashboard-wrapper {
 
}

.quote-box {
    background-color: var(--color-highlight-text);
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4) inset;
}

.quote-block {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    line-height: 1.4em;
    font-size: 1.25em;
    font-family: 'IM Fell English', serif;
}

.quote-source {
    text-align: right;
}

.shadow-box {
    box-shadow: 0 10px 6px -6px;
}

.blessing-box {
    width: 80vw;
    background-color: var(--color-bless-darken-one);
    color: var(--color-background-main);
    margin: 20px auto;
    padding: .75rem;
    border-radius: 5px;
    line-height: 1.4em;
    font-family: 'Antic Didone', serif;
    font-weight: bold;
}

.blessing-box p { text-align: center;}
.blessing-count {
    font-size: 1.25em;
}

.blessing-recieved {
    margin: 10px auto;
    padding: 1rem;
    background-color: var(--color-bless-background-main);
    color: var(--color-background-main);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    animation: bless-pulse 3s infinite;
    font-family: 'Antic Didone', serif;
}

@keyframes bless-pulse {
    from {
        background-color: var(--color-bless-background-main);
    }

    50% {
        background-color: var(--color-bless-darken-one);
    }

    to {
        background-color: var(--color-bless-background-main);
    }
}

.curse-blessed {
    text-align: center;    
    margin: 10px auto;
    font-family: 'IM Fell English', serif;
}

.next-blessed {
    margin: 20px 0 0 0;
    padding: .5rem;
    width: 60vw;
    background-color: var(--color-bless-darken-two);
    color: var(--color-background-main)
}

.next-blessed:hover {
    transition: all .3s ease;
    background-color: var(--color-bless-background-main);
    color: var(--color-background-main);
}

.button-box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.curse-button, .bless-button {
    width: 40vw;
}

.curse-button {
    color: gainsboro;
    background-color: var(--color-background-neutral);
    font-family: 'IM Fell English', serif;
    font-size: 2rem;
}

.bless-button {
    background-color: var(--color-bless-background-main);
    font-family: 'Antic Didone', serif;
    font-size: 2rem;
}

  
.bless-now-button:hover {
    transition: all .3s ease;
    background-color: var(--color-bless-darken-two);
    color: var(--color-background-main);
}