.arrow-wrapper {
    text-align: center;
}

.arrow {
    font-size: 30px;
    cursor: pointer;
}

.header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    height: 40px;
}

.header-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.transparent-div {
    height: 50px;
}

