.login-wrapper {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}

.login-header {
    margin: 20px 0;
    text-align: center;
    font-size: 2.5em;
    font-family: 'IM Fell English', serif;
}

@media screen and (min-width: 768px) {
    .login-header {
        text-align: center;
    }
}