.errorWrapper {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2rem;
}

.pic {
  margin: .5rem;
  background-size: 5rem 5rem;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid var(--color-background-main);
  transition: border .3s ease;
  height: 5rem;
  width: 5rem;
}

.ready-to-fire:hover {
  animation: fire-ready 1.5s infinite;
 
}

@keyframes fire-ready {
  from {
    border: 3px solid var(--color-background-main);
  }

  50% {
    border: 5px solid red;
  }

  to {
    border: 3px solid var(--color-background-main);
  }
}

#keith {
  background-image: url(keith.png)
}

#thomas {
  background-image: url(thomas.png)
}

#brian {
  background-image: url(brian.png)
}

#orkun {
  background-image: url(orkun.png)
}

#adam {
  background-image: url(adam.png)
}

#mike {
  background-image: url(mike.png)
}

#fired {
  background-image: url(nowHiring.png)
}

@media screen and (min-width: 768px) {
  .pic {
    background-size: 7rem 7rem;
    height: 7rem;
    width: 7rem;
  }
}

@media screen and (min-width: 1024px) {
  .pic {
    background-size: 10rem 10rem;
    height: 10rem;
    width: 10rem;
  }
}