

.curse-form-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.curse-form {
    width: 60vw;
    background-color: beige;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0%);
    height: 80%;
    transition: margin-top 2s ease-out;
}

.curse-box {
    margin-top: 2rem;
    width: 90%;
    height: 80%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 1.5em;
    background-color: beige;
    resize: none;
    transition: width 1s ease-in;
    z-index: 1;
    
}

.pill {
    margin: 0 auto;
    margin-bottom: -1rem;
    height: 3.5rem;
    width: 61vw;
    border-radius: 5rem;
    background-color: tan;
    top: 80%; 
    margin-left: -30.5vw;
    z-index: 100;
    position: fixed;
    transition: margin-left 1s ease-in;
}

.scrollBottom {
    height: 15rem;
    width: 90vw;
    position: fixed;
    top: 80%;
    transform: translate(-50%, 0);
    z-index: 5;
    background-color: lightgray;
}

.curse-spin {
    animation: spin 1500ms ease-out;
}

.curse-left {
    transition: left 1s ease-in;
}

@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(1080deg); } }

.curse-box:focus {
    outline: none;
}

