.curse-form {
    height: 70vh;
    width: 90%;
    background-color: var(--color-background-neutral);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    padding: 1.5rem;
    gap: 1rem;
}

.curse-box {
    width: 90%;
    height: 40vh;
    font-family: 'IM Fell English', serif;
    font-size: 1.5em;
    background-color: var(--color-highlight-text);
    padding: 5px;
    resize: none;
    border: none;
}

.curse-box:focus {
    outline: 4px double gainsboro;
}


.curse-input-error {
    padding: 10px 20px;
    color: var(--color-background-main);
    font-size: 1rem;
    background-color: gainsboro;
}

.void-button {
    height: 10%;
    width: 80%;
    padding: 0;
    margin: 0;
    background-color: var(--color-highlight-text);
    color: black;
    border-radius: 10px;
    font-size: 1.1em;
    transition: all .3s ease;
}

.void-button:disabled {
    color: var(--color-highlight-text);
    background-color: var(--color-background-neutral);
}

.void-button:hover {
    background-color: gainsboro;
}